<!doctype html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css' | relative_url }}"
    />
  </head>
  <body>
    <nav class="nav">
      <a href="{{ '/' | relative_url }}">Home</a> ·
      <a href="{{ '/blog.html' | relative_url }}">Blog</a> ·
      <a href="{{ '/about.html' | relative_url }}">About</a>
    </nav>

    {{ content }}
  </body>
</html>
